{
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "semi": false,
  "trailingComma": "none",
  "importOrder": ["^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
